.config/nvim/lazy-lock.json
.wget-hsts
.steam*
Games
Downloads
Drives
github-repos
Desktop
.config/suyu
.config/zsh/zsh_history
.git-credentials
.wine
.pki
.dbus
.cargo
.librewolf
.local/share
.local/state
.cache
.gitconfig
